.App {
  text-align: center;
}

.counter {
  font-size: 100px;
}

.counter::selection {
  color: #000;
}

.btns {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.btn {
  width: 200px;
  height: 50px;
  font-size: 30px;
  border: 1px solid #000;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

.btn::selection {
  color: #fff;
}

.btn:focus {
  outline: none;
}

.btn-inc {
  background-color: rgb(38, 187, 38);
}

.btn-save {
  background-color: rgb(173, 255, 255);
}

.btn-clear {
  background-color: rgb(96, 96, 255);
}

.btn-dec {
  background-color: rgb(207, 37, 37);
}

.res {
  margin-top: 5rem;
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  background-color: rgb(118, 255, 118);
}